
#login-button-div{
    align-items: center;
    text-align: center;
}
#login-button{
    align-items: center;
    text-align: center;
    width: 200px
}
#users-table{
    align-items: center;
    text-align: center;
    margin-top: 30px;
}
#update-user{
    display: flex;
    justify-content: end;
    align-items: right;
}

th, td {
    padding: 8px;
    border: 1px solid blue;
}
#welcome-msg{
    display: flex;
    align-content: center;
    justify-content: center;
    color:blue;
    font-size: 30px;
    margin-left: 160px;
  
}
#pagination-bar{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 50px;
}
#welcome-msg-user{
    display: flex;
    align-content: center;
    justify-content: center;
    color:blue;
    font-size: 30px;
    margin-left: 20px;
  
}